@font-face {
  font-family: BrandonText-Thin;
  src: url(../assets/fonts/BrandonText-Thin.otf);
}

@font-face {
  font-family: BrandonText-Light;
  src: url(../assets/fonts/BrandonText-Light.otf);
}

@font-face {
  font-family: BrandonText-Regular;
  src: url(../assets/fonts/BrandonText-Regular.otf);
}

@font-face {
  font-family: BrandonText-Bold;
  src: url(../assets/fonts/BrandonText-Bold.otf);
}

body {
  font-family: BrandonText-Regular;
}

.header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.header-logo {
  width: 80px;
}

.header-content {
  margin: 0px 20px;
}

.site-menu {
  max-width: 38rem;
  margin: auto;
}

.menu-wrapper {
  border-bottom: 1px solid #e5e5e5;
}

.header-col {
  font-size: 16px;
}
