@font-face {
  font-family: BrandonText-Thin;
  src: url(../assets/fonts/BrandonText-Thin.otf);
}

@font-face {
  font-family: BrandonText-Light;
  src: url(../assets/fonts/BrandonText-Light.otf);
}

/* added by ghufran */
@font-face {
  font-family: BrandonText-LightItalic;
  src: url(../assets/fonts/BrandonText-LightItalic.otf);
}

@font-face {
  font-family: BrandonText-Regular;
  src: url(../assets/fonts/BrandonText-Regular.otf);
}

@font-face {
  font-family: BrandonText-Bold;
  src: url(../assets/fonts/BrandonText-Bold.otf);
}

@font-face {
  font-family: BrandonText-Medium;
  src: url(../assets/fonts/BrandonText-Medium.otf);
}

@font-face {
  font-family: RotisSerifCE;
  src: url(../assets/fonts/RotisSerifCE.woff);
}

:root {
  --font-headings: RotisSerifCE;
  --color-primary: #86b7d9;
}

body {
  font-family: BrandonText-Regular;
}

a,
button {
  transition: all 0.25s ease-in;
}
a:hover {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.header {
  line-height: 1;
  border-bottom: 0.05rem solid #ffffff4a;
}

.header-logo {
  width: 5rem;
  height: 4rem;
}

.header-section {
  background-image: url(../assets/header_bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.header-content {
  margin: 0rem 0.5rem;
}

.site-menu {
  margin: auto;
  font-family: BrandonText-Light;
}

.menu-wrapper {
  border-bottom: 0.05rem solid #e5e5e5;
}

.dropdown-toggle::after {
  display: none;
}

.header-col {
  font-size: 1rem;
}

.header.transparent {
  color: white;
  border-bottom: 0.05rem solid #ffffff4a;
}

.header.solid {
  background: white;
  border-bottom: 0.05rem solid #5654544a;
  padding-top: 5px;
}

.header {
  transition: background 0.3s;
}

.menu-wrapper.transparent {
  border-bottom: none;
}

.menu-wrapper.transparent a {
  color: white;
}

.menu-wrapper.solid {
  border-bottom: none;
  background: white;
}
.menu-wrapper.solid a {
  color: black;
}

.header-mid .title {
  font-family: var(--font-headings);
  text-align: center;
  color: white;
  margin-top: 5rem;
}

.header-mid .title h1 {
  font-size: 3.8rem;
  margin: 0;
}

.header-mid .title h3 {
  font-size: 1.46rem;
  margin: 0;
}

.cta-container {
  text-align: center;
  margin-top: 4rem;
}

.cta-container button,
.intro-cta button {
  background: var(--color-primary);
  border: none;
  color: white;
  padding: 1rem 2.8rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.intro-cta {
  margin-top: 48px;
}

.booking-block {
  background: white;
  text-align: center;
  max-width: 615px;
  align-items: center;
  box-shadow: 4px 3px 4px #00000021;
  margin: auto;
  margin-top: 6rem;
  min-height: 100px;
}

.booking-block .avl-btn {
  margin: auto;
  height: 100px;
  text-transform: uppercase;
  color: white;
  background: var(--color-primary);
  border: none;
  font-size: 0.875rem;
  letter-spacing: 1;
  letter-spacing: 2px;
  min-width: min-content;
  margin-left: 14.7px;
}

.intro-section.row {
  margin-right: 0px;
  text-align: center;
  padding: 80px 10px;
}

.intro-title {
  font-family: var(--font-headings);
  line-height: 2.5rem;
}

.intro-sub {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 23px;
  letter-spacing: 2px;
  font-family: BrandonText-Light;
}

.intro-detail {
  max-width: 420px;
  margin: auto;
  margin-top: 36px;
}

.intro-img2 img {
  width: 21vw;
  margin-left: -15px;
  margin-top: 43px;
  max-width: 280px;
}

.intro-img1 img {
  width: 21vw;
  max-width: 280px;
}

.intro-img {
  max-width: 38rem;
  margin: auto;
}

.properties-section .intro-top-img,
.properties-section .intro-heading {
  text-align: center;
}

.properties-section {
  padding: 80px 20px;
  background: #ecf2e9;
}

.property-card h1 {
  font-family: var(--font-headings);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.65rem;
}

.property-card .heart-icon {
  font-size: 1.3rem;
  padding-top: 0.25rem;
  color: #c25e84;
}

.property-card .property-code {
  font-size: 1rem;
  color: #a9acb1;
}

.property-card .property-address {
  font-size: 1rem;
  padding-left: 0.5rem;
}

.property-card .property-rate {
  font-family: BrandonText-Medium;
  font-size: 0.8rem;
  padding-left: 1.45rem;
}

.property-card .property-rooms {
  font-family: BrandonText-Light;
  padding-right: 1.45rem;
  font-size: 0.8rem;
}

.property-horizontal-list,
.activities-horizontal-list {
  max-width: 75rem;
  margin: auto;
}

.property-card img {
  min-height: 18rem;
}

.property-card .fa-star {
  color: #ebb75c;
}

.destination-box {
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.destination-box h1 {
  margin-top: 1rem;
  font-family: var(--font-headings);
  font-size: 1.5rem;
}

.destination-box h3 {
  font-size: 1rem;
}

.destination-img1 {
  background-image: url(../assets/destination_img1.jpg);
}

.destination-img2 {
  background-image: url(../assets/destination_img2.jpg);
}

.destination-images,
.inspiration-grid,
.subscription-form {
  max-width: 75rem;
  margin: auto;
}

.inspiration-img1 {
  background-image: url(../assets/inspiration_img1.jpg);
  min-height: 24rem;
  background-size: cover;
}

.inspiration-img2 {
  background-image: url(../assets/inspiration_img2.jpg);
}
.inspiration-img3 {
  background-image: url(../assets/inspiration_img3.jpg);
}
.inspiration-img4 {
  background-image: url(../assets/inspiration_img4.jpg);
}
.inspiration-img5 {
  background-image: url(../assets/inspiration_img5.jpg);
}

.inspiration-img2,
.inspiration-img3,
.inspiration-img4,
.inspiration-img5 {
  min-height: 11.5rem;
  background-size: cover;
  margin-bottom: 1rem;
}

.inspiration-img {
  font-family: var(--font-headings);
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activities-section {
  padding: 80px 20px;
  background: #fdf9f1;
}

.activity-img1 {
  background-image: url(../assets/activity_img1.jpg);
}
.activity-img2 {
  background-image: url(../assets/activity_img2.jpg);
}
.activity-img3 {
  background-image: url(../assets/activity_img3.jpg);
}

.activity-img1,
.activity-img2,
.activity-img3 {
  min-height: 26rem;
  background-size: cover;
  margin-bottom: 1rem;
  box-shadow: inset 0px -62px 80px 4px #000000b8;
}

.activity-card {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}

.activity-text h1 {
  font-family: var(--font-headings);
  color: white;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.activity-text h3 {
  color: white;
  font-size: 0.8rem;
  padding-left: 1rem;
  margin-bottom: 0.1rem;
  font-family: BrandonText-Light;
}

.activity-text h4 {
  color: white;
  font-size: 1.2rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-family: BrandonText-Light;
}

.subscription-form .form-control {
  height: 3.2rem;
}

.footer-top,
.footer-main,
.footer-bottom {
  margin-left: 0px;
  margin-right: 0px;
  background: #50545b;
  color: white;
  padding-top: 1rem;
}

.footer-main {
  background: #2e3036;
}
.footer-bottom {
  background: #202226;
  font-size: 0.8rem;
}

.footer-main h1 {
  font-family: var(--font-headings);
  color: white;
  font-size: 1.2rem;
}

.footer-main p {
  font-family: BrandonText-Light;
}

.footer-details {
  max-width: 30rem;
}

.bolded-text {
  font-family: BrandonText-Bold !important;
}

/* added by ghufran */
.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

/* .breadcrumb {background-color: none;} */
/* added by ghufran */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cococo' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
/* added by ghufran */
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cococo' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/* added by ghufran */
.activitynevent-card {
  border: none;
}

.property-overview-heading {
  font-family: var(--font-headings);
  line-height: 4.5rem;
  font-size: 2rem;
}

.property-section-h2 {
  font-family: var(--font-headings);
  line-height: 4.5rem;
  font-size: 2rem;
  text-align: center;
}
.property-short-description {
  font-family: BrandonText-Medium;
  font-size: 1rem;
}

.property-long-description,
.property-text {
  font-family: BrandonText-Light;
  font-size: 1rem;
  margin-top: 1rem;
}

.property-icons {
  font-size: 1.5rem;
  /* margin: .5rem; */
  margin-bottom: 2rem;
  /* margin-right: 1.5rem; */
  width: 3rem;
}
.property_features_heading {
  font-family: var(--font-headings);
  /* line-height: 4.5rem; */
  font-size: 1.7rem;
  color: black;
  /* text-decoration: none; */
  /* background-color: white; */
}

.property-virtualtour-subheading {
  font-family: var(--font-headings);
  /* line-height: 4.5rem; */
  font-size: 1.5rem;
  color: black;
}

.property-accordian {
  /* border:none; */
  border-style: none;
  background-color: white;
  padding: 0;
}

.property-accordian-card-body {
  padding-left: 0rem;
  padding-bottom: 0rem;
}
.property-accordian-header-border {
  border-bottom-style: solid;
}
.property-accordians-margin {
  margin-top: 2rem;
}

.property-visitorfeedback-carousel-inner {
  text-align: center;
}

.property-visitorfeedback-carousel-comment {
  font-family: BrandonText-LightItalic;
  margin-top: 1.3rem;
  padding-left: 100px;
  padding-right: 100px;
}
.property-section-margins {
  padding-bottom: 20px;
  padding-top: 20px;
}

.iframe-youtube-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.property-activity-findoutmore {
  font-family: BrandonText-Medium;
  font-size: 0.9rem;
}

.property-visitor-name {
  font-family: var(--font-headings);
  font-size: 1.2rem;
  margin-top: 1.3rem;
  margin-bottom: 1.2rem;
}

.starred {
  color: #ebb75c;
}

.property-name1 {
  font-family: var(--font-headings);
  font-size: 3rem;
  color: white;
  text-align: left;
}
.property-name2 {
  font-family: BrandonText-Thin;
  font-size: 2rem;
  color: white;
}

.property-name-address {
  font-family: BrandonText-Medium;
  font-size: 1.2rem;
  color: white;
  text-align: left;
}

.dropdown-row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.nav-item:hover {
  font-family: BrandonText-Bold;
}

/* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
  display: block !important;
}

.tab-content > .active {
  display: block;
  background: #007bff;
  min-height: 165px;
}

.dropdown-menu {
  position: absolute;
  top: 80%;
}

.menu-section {
  margin: 1rem 2rem;
  font-family: BrandonText-Light;
}

.menu-section a {
  color: #96bedd !important;
  text-decoration: underline;
}
.menu-section-title {
  font-family: RotisSerifCE;
  color: #50545b;
  font-weight: 600;
  font-size: 2rem;
}
.border-r-light {
  border-right: #e9e9e9 solid 1px;
}

.img-grid-3 {
  max-width: 34rem;
}
.img-grid-3 img {
  width: 8rem;
  height: 8rem;
}

.img-grid-3 h3 {
  font-family: RotisSerifCE;
  font-size: 1.2rem;
}

.nav-item {
  padding-left: 10px;
}

.destination-box .intro-cta button {
  padding: 1rem 1.8rem;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.footer-main .intro-cta button,
.filter-header .intro-cta button {
  padding: 0.8rem 1rem;
  font-size: 0.7rem;
}

.relative-container {
  position: relative;
}

.center-text-image {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.center-text-image-h1 {
  font-family: var(--font-headings);
  color: white;
}
.center-text-image-p {
  font-family: BrandonText-Medium;
  font-size: 1.2rem;
  color: white;
}

.full-width {
  width: 100%;
}

/* Activity Detail Card on Activity page */
.adc-title {
  font-family: var(--font-headings);
  font-size: 1.8rem;
  /* line-height: 2.5rem; */
}

.adc-sub-heading {
  font-family: BrandonText-Light;
  font-size: 0.8rem;
}

.adc-sub-value {
  font-family: BrandonText-Light;
  font-size: 1rem;
  color: var(--color-primary);
}

.adc-price {
  font-family: var(--font-headings);
  font-size: 1.5rem;
}

.adc-cta {
  background-color: var(--color-primary);
  color: white;
  font-family: BrandonText-Medium;
  font-size: 0.8rem;
  width: 100%;
}

.filter-header {
  background: white;
  position: fixed;
  margin: 0rem 0rem;
  padding: 0.1rem 1rem 0.5rem 1rem;
  top: 0px;
  z-index: 10000;
  width: -webkit-fill-available;
  width: 100%;
}

/* Terms and Conditions */
.tnc-tabcontent-heading {
  font-family: var(--font-headings);
  line-height: 4.5rem;
  font-size: 2rem;
  padding-top: 2rem;
}
.tnc-help {
  text-align: center;
}
.tnc-help-title {
  font-family: var(--font-headings);
  font-size: 1.8rem;
}

.tnc-help-subheading {
  font-family: BrandonText-Medium;
  font-size: 1rem;
}
.tnc-cta {
  background-color: var(--color-primary);
  color: white;
  font-family: BrandonText-Medium;
  font-size: 0.8rem;
  margin-top: 2rem;
}

@media screen and (min-width: 700px) {
  .tnc-help-align {
    margin-top: 10rem;
  }

  .center-text-image-h1-lg {
    font-size: 3.2rem;
  }
}

/* FAQ page CSS starts here */
.faq a {
  font-family: BrandonText-Medium;
  font-size: 1rem;
}
/* for FAQ page */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--color-primary);
}
/* for FAQ page */
.tab-content > .active {
  background-color: white;
  /* background: white; */
}

.faq-tab-content {
  border-left-style: solid;
  border-color: #ddd;
  padding-left: 2rem;
  /* margin-left: 2rem; */
}

.faq-questions {
  font-family: BrandonText-Medium;
  font-size: 1rem;
  border-bottom-style: solid;
  border-color: #ddd;
  /* margin-left: 2rem; */
  padding-bottom: 1rem;
}
.faq-answers {
  margin-top: 1rem;
  font-family: BrandonText-Light;
  font-size: 1rem;
}
.faq-answers .faq-question {
  font-family: BrandonText-Medium;
  font-size: 1rem;
  /* padding-bottom: 1rem; */
}
.faq-answers .faq-answer {
  margin-top: 1rem;
}

/* FAQ page CSS ends here */

/* Contact US page begins here */
.contactus-option-icon {
  font-size: 2rem;
  width: 100%;
  text-align: left;
}

.contactus-option-h3 {
  font-family: var(--font-headings);
  line-height: 2.5rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 700px) {
  .contactus-options {
    padding-right: 10%;
    padding-left: 20%;
  }
}

.contactus-option-desc {
  font-family: BrandonText-Light;
  font-size: 1rem;
}
.contactus-text {
  font-family: BrandonText-Medium;
  font-size: 1rem;
}
.contactus-social-icons {
  font-size: 2rem;
}
/* Contact Us page ends here */

.team-card .team-name {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-headings);
}
.team-card .team-desg {
  font-size: 1rem;
  /* font-style: italic;  */
}
.team-card img {
  padding: 0.8rem 0.8rem 0rem 0.8rem;
}
.team-card .card-body {
  padding: 0.8rem;
}
.team-card {
  box-shadow: 3px 8px 13px #0000001f;
}

.footer-main .header-logo {
  width: 5rem;
  height: 5.4rem;
}

.about-first img {
  width: inherit;
}

.benefit-icon {
  font-size: 3rem;
  padding-top: 0.35rem;
}

.benefit-img {
  text-align: right;
  padding-right: 0.4rem;
  opacity: 0.8;
}

.benefit-text h3 {
  font-weight: 800;
  font-size: 1rem;
}

.about-story .story-date {
  font-weight: 800;
  font-size: 1rem;
}

.team-card .team-date {
  font-size: 0.8rem;
}
