.header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.header-content {
  margin: 0px 20px;
}

.site-menu {
  max-width: 38rem;
  margin: auto;
}

.menu-wrapper {
  border-bottom: 1px solid #e5e5e5;
}
