/* Bootstap overrides */
.btn {
    font-size: .9em;
    padding: .575rem 1.5rem;
    border-radius: 0;
    text-transform: uppercase;
}
.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.btn-outline-primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
.btn-outline-primary:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
    background-color: #459cd8;
    border-color: #459cd8;
}
.btn.disabled, .btn:disabled {
    opacity: .5;
}
.form-control {
    border-radius: 0;
}
.input-group > .input-group-prepend > .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-prepend .btn,
.input-group-append .btn {
    padding: .45rem 1rem;
    border-color: #ced4da;
}
.btn-caret {
    font-size: .6rem;
}
.input-group-append .input-group-text,
.input-group-append .btn {
    border-left-color: #fff;
    position: relative;
    z-index: 1;
}
.input-group-prepend .input-group-text,
.input-group-prepend .btn {
    border-right-color: #fff;
    position: relative;
    z-index: 1;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: var(--color-primary);
}

.text-md {
    font-size: 1.1rem;
}
.text-sm {
    font-size: 0.9rem;
}
.text-primary {
    color: var(--color-primary) !important;
}
.bg-primary {
    color: #fff;
    background-color: var(--color-primary) !important;
}
.bg-gray {
    background-color: #ddd;
}
.bg-gray-light {
    background-color: #f0f0f0;
}

.text-underline,
.text-underline:hover {
    text-decoration: underline;
}


img {
    max-width: 100%;
    height: auto;
}

.breadcrumb-bar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.breadcrumb-bar .breadcrumb {
    padding: .85rem 0;
    margin-bottom: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f054";
    font-size: .8em;
    position: relative;
    top: .15rem;
}


/* Select Box */
.select-box,
.select-box-vertical {
    border: 0;
    background-color: #fff;
    position: relative;
}
.select-box::before,
.select-box-vertical::before {
    content: '';
    background-color: #fff;
    pointer-events: none;
    z-index: 0;
    position: absolute;
}
.select-box::after,
.select-box-vertical::after {
    margin-top: .1rem;
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: 600;
    font-size: .75rem;
    line-height: .75rem;
    pointer-events: none;
    z-index: 1;
    position: absolute;
}

.select-box::before {
    width: 20px;
    height: 100%;
    right: 0;
    top: 0;
}
.select-box::after {
    margin-top: .1rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.select-box select,
.select-box-vertical select {
    width: 100%;
    outline: 0;
    border: 0;
    background-color: #fff;
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select-box-vertical select {
    padding-bottom: 15px;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
}
.select-box-vertical::before {
    width: 100%;
    height: 15px;
    bottom: 0;
    left: 0;
}
.select-box-vertical::after {
    margin-top: .1rem;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}


.site-header {
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.25s ease-in;
}
.site-logo-link {
    display: block;
}

.list-steps-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1.25em;
}
.list-steps-nav li {
    display: inline-block;
    vertical-align: middle;
}
.list-steps-nav li:not(.active) {
    color: rgba(0,0,0,0.25);
}
.list-steps-nav li + li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f054';
    font-size: .85em;
    color: var(--color-primary);
    opacity: .25;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.list-steps-nav li + li {
    margin-left: 10px;
}

/* header links */
.hd-links {
    position: relative;
}

.list-hd-links {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.list-hd-links li {
    display: inline-block;
    position: relative;
}
.list-hd-links li + li {
    padding-left: 12px;
}
.list-hd-links li + li::before {
    width: 1px;
    height: 100%;
    content: '';
    display: inline-block;
    border-left: 1px dotted #000;
    position: absolute;
    top: 0;
    left: 5px;
}
.list-hd-links a {
    padding: 5px 10px;
    display: block;
}

.list-hd-links a,
.hd-contact-link {
    color: inherit;
}

.list-hd-links a:hover,
.hd-contact-link:hover {
    color: var(--color-primary);
}


.page-banner {
    position: relative;
}
.banner-header {
    width: 100%;
    padding: 2% 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
}
.text-heading {
    font-family: var(--font-headings);
}
.text-heading small {
    font-family: BrandonText-Thin;
    font-size: 60%;
}

[role="main"] {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*** Activity Block
-----------------------------------------  */
.activity-block {
    margin-bottom: 1.5rem;
}
.activity-block + .activity-block {
    padding-top: 1.5rem;
    border-top: 1px solid #eee;
}
.activity-block-top::before,
.activity-block-top::after {
    display: table;
    content: '';
}
.activity-block-top::after {
    clear: both;
}
.activity-block-top {
    padding-right: 160px;
    position: relative;
}
.activity-block-top .action {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.activity-block-top .image {
    width: 200px;
    margin-bottom: 0;
    float: left;
}
.activity-block-top .text {
    margin-left: 200px;
    padding-left: 15px;
    padding-top: 10px;
}
.activity-incremental {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.activity-incremental .button-iconic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.activity-incremental .button-iconic.increment {
    left: auto;
    right: 0;
}
.activity-incremental-text {
    text-align: center;
}
.link-more {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-primary);
}
.link-more .fas {
    margin-left: .2rem;
    font-size: .8em;
}
.activity-block-detail {
    padding-top: 1rem;
}


/* button iconic */
.button-iconic {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
}
.button-iconic:hover {
    color: var(--color-primary);
    box-shadow: 0 0 5px rgba(0,0,0,0.20);
}
.button-iconic.bordered {
    border: 1px solid #ddd;
}


.box {
    transition: all 0.25s ease-in;
}
.box.hoverable {
    box-shadow: 0px 0px 0 rgba(0,0,0,0);
}
.box.hoverable:hover,
.box.shadowed:hover {
    box-shadow: 0px 0px 1rem rgba(0,0,0,0.15);
}
.box.shadowed {
    padding: 15px;
    box-shadow: 0px 0px .8rem rgba(0,0,0,0.15);
}
.box.shadowed:hover {
    box-shadow: 0px 0px 1.25rem rgba(0,0,0,0.15);
}
.box .box-text {
    padding-left: .5rem;
    padding-right: .5rem;
}
.box-image {
    position: relative;
}
.box-tag {
    padding: .25rem 1rem;
    font-size: .8rem;
    text-transform: uppercase;
    z-index: 2;
    position: absolute;
    top: 1rem;
    left: 0;
}

/*** extra Block
-----------------------------------------  */
.extra-list-block {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
}
.extra-list-block .text {
    flex: 1;
}
.extra-list-block .title {
    padding-top: 10px;
    margin-bottom: 0;
}
.extra-list-block .extra-incremental {
    width: 150px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 10px;
    position: relative;
}
.extra-list-block .extra-incremental .button-iconic {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.extra-list-block .extra-incremental .button-iconic.increment {
    left: auto;
    right: 0;
}
.extra-list-block .action {
    margin-left: 10px;
}

.button-bar {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.button-bar.flex-end {
    justify-content: flex-end;
}
.button-bar .btn {
    margin-left: 5px;
    margin-right: 5px;
}


.booking-stats-block {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    border-radius: .25rem;
}
.booking-stats-block .heading {
    padding: .75rem 1.25rem;
    border-bottom: 1px solid #eee;
}
.booking-stats-block .card {
    border: 0;
}
.booking-stats-block .card:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.button-accordion {
    width: 100%;
    padding-right: 25px;
    text-align: left;
    background-color: transparent;
    border: 0;
    display: block;
    position: relative;
}
.button-accordion[aria-expanded="true"] .fas {
    transform: translateY(-50%) rotate(-180deg);
}
.button-accordion .fas,
.button-accordion .fa {
    font-size: .8em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease-in;
}

.booking-stats-block .stat p {
    margin-bottom: 0.5rem;
}
.booking-stats-block .bar-e2e {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bar-stat {
    padding: 0.8rem 1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}
.bar-border-top {
    border-top: 1px solid #eee;
}


.check-creditcard-block {
    padding: 0.5rem;
    background-color: #f5f5f5;
}
.check-creditcard-block .form-check-input {
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
}
.label-credit-card-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/*** Property Search Bar
-----------------------------------------  */
.property-search-bar,
.property-search-result-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.property-search-bar + .property-search-result-bar {
    margin-top: -1px;
}
.property-search-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.property-search-bar .control {
    flex: 1;
}
.property-search-bar .control .btn {
    width: 100%;
}
.option-block {
    margin-right: 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.option-block .option-label {
    padding-right: 10px;
    margin-right: 15px;
    border-right: 1px solid #d0d0d0;
}
.option-block .option-selection {
    min-width: 120px;
}
.option-block select {
    font-size: .8rem;
    color: rgba(0,0,0,0.5);
}
.option-block [class^="select-box"]::after {
    font-size: .6rem;
    color: rgba(0,0,0,0.35);
}
.selected-digit {
    width: 50px;
    height: 2.2rem;
    padding: .375rem .5rem;
    margin-right: 0.25rem;
    font-size: 1.6rem;
    border: 0;
    text-align: center;
}
.selected-digit::-webkit-outer-spin-button,
.selected-digit::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.selected-digit[type=number] {
  -moz-appearance: textfield;
}
.option-selection-dual {
    min-width: 100px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.option-selection-dual .button-iconic {
    font-size: 0.5rem;
    opacity: 0.35;
}
.option-selection-dual .button-iconic:hover {
    opacity: 1;
}

.search-filter-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-filter-bar .filter-contents,
.search-filter-bar .search-filters,
.search-filter-bar .search-sorts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-filter-bar .search-filters,
.search-filter-bar .search-sorts {
    justify-content: flex-start;
}
.search-filters .input-group-text {
    background-color: transparent;
}
.search-filters .input-group,
.search-sorts .input-group {
    width: auto;
}
.search-sorts .form-control,
.search-filters .form-control {
    max-width: 145px;
}

.slick-slider {
    position: relative;
}
.slider-image img {
    width: 100%;
}
.slick-slider .slick-arrow {
    width: 3rem;
    height: 100%;
    color: transparent;
    font-size: 0;
    overflow: hidden;
    color: #fff;
    background-color: transparent;
    border: 0;
    z-index: 1;
    position: absolute;
    top: 0;
}
.slick-slider .slick-arrow.slick-prev {
    left: 0;
}
.slick-slider .slick-arrow.slick-next {
    right: 0;
}
.slick-slider .slick-arrow::before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 600;
    font-size: 1.5rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.slick-slider .slick-arrow.slick-prev::before {
    content: "\f053";
}

.property-tabs {
    padding-left: 20px;
    padding-right: 20px;
}

.property-tabs .tab {
    height: 75px;
    padding: 0.35rem;
    font-size: .75rem;
    text-align: center;
    position: relative;
}
.property-tabs .tab strong {
    color: inherit;
}
.property-tabs .tab.disabled {
    color: #999;
    background-color: #f9f9f9;
}
.property-tabs .slick-current .tab {
    color: #fff;
    background-color: var(--color-primary);
}
.property-tabs .slick-slide {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 1px solid #f0f0f0;
}
.slick-slide:focus {
    outline: 0;
}
.property-tabs .slick-current .tab::before {
    width: 0;
    height: 0;
    content: '';
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--color-primary);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.property-tabs .slick-track {
    padding-bottom: 10px;
}

.property-tabs .slick-arrow {
    width: 1rem;
    color: inherit;
}
.property-tabs .slick-arrow::before {
    font-size: .8rem;
}

.flex-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.property-info-inner {
    margin-left: -15px;
    margin-right: -15px;
}
.property-block-text {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
}
.property-block-text.no-border {
    padding-bottom: 0;
    border-bottom: 0;
}
.property-block-text .block-head a {
    color: inherit;
}
.property-block-text footer,
.property-block-text .bar-ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.property-block-text .bar-ratings {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.property-block-text .button-bar {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
}
.property-block-text .button-bar .btn {
    flex: 1;
    font-size: .8em;
}
.property-block-text .block-head {
    position: relative;
}
.property-block-text .block-head .floating {
    position: absolute;
    right: 0;
    top: 5px;
}

.main-slider-wrapper {
    position: relative;
}
.main-slider-wrapper .slider-thumbs .thumb {
    margin: 4px 2px;
    opacity: .25;
    cursor: pointer;
    transition: opacity 0.25s ease-in;
}
.main-slider-wrapper .slider-thumbs .thumb.slick-current {
    opacity: 1;
}
.main-slider-wrapper .slider-thumbs-count {
    padding: .2rem .5rem;
    color: #fff;
    font-size: .8rem;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 1rem;
}


.main-slide {
    position: relative;
    background-color: #000;
}
.main-slide .image {
    opacity: .8;
}
.main-slide .slider-caption {
    padding: 1.5rem 2rem;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.main-slide .slider-caption .slider-heading {
    font-family: var(--font-headings);
}
.main-slide .slider-caption .slider-heading .title {
    margin-bottom: 0;
}
.main-slide .slider-caption .slider-heading small {
    font-family: BrandonText-Thin;
    font-size: 70%;
}
.main-slide .slider-caption .caption-text {
    font-family: BrandonText-Medium;
    font-size: 1.2rem;
    text-align: left;
}
.main-slide .slider-caption .property-stats {
    position: absolute;
    right: 1.5rem;
    bottom: 2rem;
}
.main-slide .slider-tag {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: .8em;
    position: absolute;
    left: 1.5rem;
    top: 2rem;
}

.visitor-slider .slick-arrow {
    color: inherit;
}
.visitor-block img {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .site-header {
        padding: 10px 30px;
    }
    [role="main"] {
        padding-top: 30px;
        padding-bottom: 30px;
    }    
}

@media (min-width: 1200px) {
    [role="main"] {
        padding-top: 45px;
        padding-bottom: 45px;
    }    
}