/* Bootstap overrides */
.btn {
    font-size: .9em;
    padding: .575rem 1.5rem;
    border-radius: 0;
    text-transform: uppercase;
}
.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
    background-color: #459cd8;
    border-color: #459cd8;
}
.text-primary {
    color: var(--color-primary) !important;
}
.bg-primary {
    color: #fff;
    background-color: var(--color-primary) !important;
}
.bg-gray {
    background-color: #ddd;
}
.bg-gray-light {
    background-color: #f0f0f0;
}

.text-underline,
.text-underline:hover {
    text-decoration: underline;
}

.form-control {
    border-radius: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.site-header-1 {
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.site-logo-link {
    display: block;
}

.list-steps-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1.25em;
}
.list-steps-nav li {
    display: inline-block;
    vertical-align: middle;
}
.list-steps-nav li:not(.active) {
    color: rgba(0,0,0,0.25);
}
.list-steps-nav li + li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f054';
    font-size: .85em;
    color: var(--color-primary);
    opacity: .25;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.list-steps-nav li + li {
    margin-left: 10px;
}

.hd-contact-link {
    color: inherit;
}

.page-banner {
    position: relative;
}
.banner-header {
    width: 100%;
    padding: 2% 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
}
.text-heading {
    font-family: var(--font-headings);
}

[role="main"] {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*** Activity Block
------------------------------- */
.activity-block {
    margin-bottom: 1.5rem;
}
.activity-block + .activity-block {
    padding-top: 1.5rem;
    border-top: 1px solid #eee;
}
.activity-block-top::before,
.activity-block-top::after {
    display: table;
    content: '';
}
.activity-block-top::after {
    clear: both;
}
.activity-block-top {
    padding-right: 160px;
    position: relative;
}
.activity-block-top .action {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.activity-block-top .image {
    width: 200px;
    margin-bottom: 0;
    float: left;
}
.activity-block-top .text {
    margin-left: 200px;
    padding-left: 15px;
    padding-top: 10px;
}
.activity-incremental {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.activity-incremental .button-iconic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.activity-incremental .button-iconic.increment {
    left: auto;
    right: 0;
}
.activity-incremental-text {
    text-align: center;
}
.link-more {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-primary);
}
.link-more .fas {
    margin-left: .2rem;
    font-size: .8em;
}
.activity-block-detail {
    padding-top: 1rem;
}


/* button iconic */
.button-iconic {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.button-iconic:hover {
    color: var(--color-primary);
    box-shadow: 0 0 5px rgba(0,0,0,0.20);
}


/*** Activity Block
------------------------------- */
.axtra-list-block {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
}
.axtra-list-block .text {
    flex: 1;
}
.axtra-list-block .title {
    padding-top: 10px;
    margin-bottom: 0;
}
.axtra-list-block .extra-incremental {
    width: 150px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 10px;
    position: relative;
}
.axtra-list-block .extra-incremental .button-iconic {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.axtra-list-block .extra-incremental .button-iconic.increment {
    left: auto;
    right: 0;
}
.axtra-list-block .action {
    margin-left: 10px;
}

.button-bar {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.button-bar.flex-end {
    justify-content: flex-end;
}
.button-bar .btn {
    margin-left: 5px;
    margin-right: 5px;
}


.booking-stats-block {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    border-radius: .25rem;
}
.booking-stats-block .heading {
    padding: .75rem 1.25rem;
    border-bottom: 1px solid #eee;
}
.booking-stats-block .card {
    border: 0;
}
.booking-stats-block .card:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.button-accordion {
    width: 100%;
    padding-right: 25px;
    text-align: left;
    background-color: transparent;
    border: 0;
    display: block;
    position: relative;
}
.button-accordion[aria-expanded="true"] .fas {
    transform: translateY(-50%) rotate(-180deg);
}
.button-accordion .fas,
.button-accordion .fa {
    font-size: .8em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease-in;
}

.booking-stats-block .stat p {
    margin-bottom: 0.5rem;
}
.booking-stats-block .bar-e2e {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bar-stat {
    padding: 0.8rem 1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}
.bar-border-top {
    border-top: 1px solid #eee;
}


.check-creditcard-block {
    padding: 0.5rem;
    background-color: #f5f5f5;
}
.check-creditcard-block .form-check-input {
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
}
.label-credit-card-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .site-header-1 {
        padding: 10px 30px;
    }
    [role="main"] {
        padding-top: 30px;
        padding-bottom: 30px;
    }    
}

@media (min-width: 1200px) {
    [role="main"] {
        padding-top: 45px;
        padding-bottom: 45px;
    }    
}